* {
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url(images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: 600px -230px;
}

nav {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: space-around;
}

.links {
    display: flex;
    column-gap: 15px;
}

a {
    text-decoration: none;
    color: hsl(228, 39%, 23%);
    font-size: 18px;
    font-weight: 700;
}

.nav-btn {
    padding: 10px;
    background-color: hsl(12, 88%, 59%);
    border: none;
    color: white;
    border-radius: 20px;
    font-weight: 700;
    box-shadow: 0px 5px 5px rgba(27, 27, 27, 0.753);
}

header {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

.text {
    width: 30%;
    font-size: 23px;
    margin-top: 1vh;
    color: hsl(228, 39%, 23%);
}

.text-btn {
    padding: 10px;
    background-color: hsl(12, 88%, 59%);
    border: none;
    color: white;
    border-radius: 20px;
    font-weight: 700;
    margin-top: 20px;
    width: 130px;
}

main {
    margin-top: 70px;
    background-image: url(images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: -500px 230px;
}

#close {
    display: none;
}

.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.left {
    width: 25%;
    font-size: 18px;
}

h2 {
    font-size: 30px;
}

.right {
    display: flex;
    flex-direction: column;
    width: 32%;
    row-gap: 20px;
}

.top h2,
.top h3 {
    color: hsl(228, 39%, 23%);
}

.top p {
    color: hsl(227, 12%, 61%);
}

span {
    float: initial;
    margin-left: -70px;
    margin-right: 20px;
    background-color: hsl(12, 88%, 59%);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 20px;
    color: white;
}

.slide-container {
    margin-top: 250px;
    text-align: center;
}

.slide-container h2 {
    font-size: 40px;
    color: hsl(228, 39%, 23%);
}

h4 {
    margin-bottom: 15px;
    color: hsl(228, 39%, 23%);
}

.contain {
    margin-top: 70px;
    width: 11.1cm;
    padding: 20px;
    background-color: hsl(0, 0%, 98%);
    text-align: center;
}

#linkertab {
    display: none;
}

.contain img {
    width: 2.4cm;
    margin-top: -70px;
}

.contain p {
    color: hsl(227, 12%, 61%);
}

.slide {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    overflow-x: scroll;
    padding: 40px;
}

.slide-btn {
    padding: 10px;
    background-color: hsl(12, 88%, 59%);
    border: none;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: 700;
    box-shadow: 0px 5px 5px rgba(27, 27, 27, 0.753);
}

footer {
    margin-top: 30px;
}

.up {
    background-color: hsl(12, 88%, 59%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.up h3 {
    color: white;
    font-size: 35px;
    width: 35%;
    margin-left: 50px;
}

.up button {
    height: 1cm;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
    color: hsl(12, 88%, 59%);
    border: none;
    border-radius: 14px;
    margin-right: 50px;
}

.bottom {
    padding: 50px;
    display: flex;
    font-size: 18px;
    flex-wrap: wrap-reverse;
    background-color: hsl(233, 12%, 13%);
    justify-content: space-evenly;
    color: white;
}

footer li {
    list-style: none;
    padding: 10px;
}

#menu {
    display: none;
}

.footlogo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 110px;
}

input {
    padding: 10px;
    border-radius: 15px;
    border: none;
    width: 200px;
    margin-bottom: 100px;
}

.foot-btn {
    padding: 10px;
    background-color: hsl(12, 88%, 59%);
    border: none;
    color: white;
    width: 70px;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: 700;
}

button:hover {
    background-color: hsl(12, 100%, 76%);
    cursor: pointer;
    transition: all .6s;
}

nav a:hover {
    color: hsl(227, 12%, 61%);
    border-bottom: 1px solid gray;
    transition: all .6s;
}

footer li:hover {
    color: hsl(12, 88%, 59%);
    cursor: pointer;
    transition: all .6s;
}

#menu {
    display: none;
}

@media only screen and (max-width:800px) {
    body {
        background-image: url(images/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-position: 100px -230px;
    }

    main {
        background-image: url(images/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-position: -500px 730px;
    }

    header img {
        width: 100%;

    }

    nav {
        margin-top: 30px;
    }

    header {
        flex-wrap: wrap-reverse;
    }

    .text {
        width: 95%;
        text-align: center;
        font-size: 20px;
    }

    h1 {
        margin-bottom: 20px;
    }

    .nav-btn {
        display: none;
    }

    #menu {
        display: block;
    }

    .top {
        flex-wrap: wrap;
    }

    .left {
        width: 90%;
    }

    .right {
        margin-top: 60px;
        width: 76%;
        margin-left: 50px;
    }

    .top h3 {
        background-color: hsl(13, 100%, 96%);
        width: 100%;
        font-size: 18px;
        padding: 5px;
        border-radius: 10px;
    }

    .footlogo {
        display: flex;
        margin-top: 30px;
        flex-direction: column-reverse;
        width: 100%;
        row-gap: 40px;
    }

    input {
        display: inline-block;
        margin-bottom: 50px;
        width: auto;
    }

    #copy {
        position: relative;
        text-align: center;
        margin-top: 50px;
        margin-left: 20px;
        font-size: 13px;
    }

    .up h3 {
        background-color: none;
        width: 100%;
        margin: 0%;
        font-size: 50px;
    }

    .media img {
        padding: 2%;
        height: 30px;
    }

    .up {
        display: block;
        width: 100%;
        text-align: center;
    }

    .up button {
        margin-left: 10%;
    }

    .bottom {
        padding-bottom: 80px;
    }

    .slide-container {
        margin-top: 50px;
    }

    .slide {
        padding: 10px;
    }

    .contain {
        width: 8cm;
    }

    .linker {
        position: absolute;
        top: 0%;
        margin-top: 50px;
        display: none;
        width: 100%;
        height: 800px;
        /* background-color: rgba(0, 0, 0, 0.733); */
        background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
    }

    .links {
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 20px;
        background-color: white;
        width: 70%;
        margin-top: 60px;
        text-align: center;
        margin-left: 10%;
    }

    #close {
        height: 23px;
    }

    .links a {
        padding: 12px;
        font-size: 23px;
    }

    #linkertab {
        display: flex;
        justify-content: space-evenly;
    }
}